.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
htmlcov
.flake
.tox
.idea
.vscode
.vimrc
*_ignored*
/docs/_build/
/env*/
*_old.py
log
dist
egg-info
eggs
build
.pytest_cache
.ipynb_checkpoints
*.ipynb
_build/
venv
