language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
# PyPy versions
#  - "pypy"   # PyPy2 5.8.0
#  - "pypy3"  # Pypy3 5.8.0-beta0
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install .
# command to run tests
script: pytest